body {
  background-color: rgb(182, 28, 28);
  font-size: 16px;
  color: white;
  text-align: center;
}
form {
  background-color: rgb(172, 70, 70);
  font-size: 16px;
  color: white;
  text-align: center;
}
